.caption {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 45%;
    border: solid white 4px;
    background-color: rgba(50,50,50,0.5);
}

.text{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}





.caption1 {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 45%;
    border: solid white 4px;
    background-color: rgba(50,50,50,0.5);
}


#bookings{
    background: #f8f8fa;
    /* padding: 50px 0; */
    margin-top: 700px;
}

#bookings2{
    background: #f8f8fa;
    /* padding: 50px 0; */
    margin-top: 30px;
}

.company-details{
    box-shadow: 0 2px 70px 0 rgba(110,130,208,.18);
    border-radius: 5px;
    margin-bottom: 20px;
}

.job-update{
    background:#fff;
    padding:10px 20px;
    border-radius: 5px;
}


/* .btn{
    background-color: grey;
    
} */

.button {
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    /* padding: 20px; */
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .button2 {
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    /* padding: 20px; */
    width: 200px;
    /* transition: all 0.5s;
    cursor: pointer; */
    margin: 5px;
  }

 